<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orders</title>
</head>
<body>
<h1>Order List</h1>

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--   <select name="category">-->
<!--       <option> store </option>-->
<!--       <option> client </option>-->
<!--       <option> orderDate </option>-->
<!--   </select>-->
<!--       <input type="text" name="filter"/>-->


<!--</form>-->
<form method="post">
    {% csrf_token %}
     {{name}}
       <button type="submit">Save</button>
</form>
<!--{{orderList}}-->
<!--{% for i in orderList %}-->
<!--    <h4>{{i}}</h4>-->
<!--    <a > <h4>{{i.1}}</h4></a>-->
<!--   <h4>{{i.2}}</h4>-->
{% endfor %}

</body>
</html>